In [1]:
print("This line will be printed.")

This line will be printed.

In [2]:
print(1)

1

Indentation

In [3]:
x = 1
if x == 2:
    #indented four spaces
    print("x ix 1.")

Keywords

In [4]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

Input()

In [5]:
my_val=int(input("Enter a number:"))

In [6]:
type(my_val)

int

In [7]:
print(my_val)

5

Variable and Types

In [8]:
student_marks =25
print("Student_marks")

Student_marks

In [9]:
myint = 7
print(myint)
print(type(myint))

7
<class 'int'>

In [10]:
x=int(5.0)
print(x)

5

In [11]:
myfloat = 7.5
print(type(myfloat))
print(myfloat)

<class 'float'>
7.5

In [13]:
myvar='7'
print(myvar)
type(myvar)

7

str

In [14]:
y=int(myvar)
type(y)

int

In [15]:
a = 4
b = 2
c = a/b
int(c)

2

In [16]:
my_value = 5
print(my_value)

5

Constants  = we can use capital values.

In [20]:
NUM = 5
NUM

5

Strings

In [21]:
mystring='hello'
print(mystring)

hello

In [22]:
mystring="hello"
mystring

'hello'

In [23]:
mystring="Don't worry about apostrophes!"
print(mystring)

Don't worry about apostrophes!

In [24]:
one=1
two=2
three=one+two
print(three)

3

In [25]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

In [26]:
a,b,c = 3,4,7
print(a,b)
print(c)

3 4
7

Exercise

Lists

In [1]:
mylist=[1,3,4,6,7,9,"hi","hello"]
print(mylist)

[1, 3, 4, 6, 7, 9, 'hi', 'hello']

Accesssing items in a List

In [2]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])

1
3
4
6
7
9

In [3]:
value=mylist[1]
print(value)

3

In [4]:
new_list=[21,33,45,75,91,99]
print(new_list)

[21, 33, 45, 75, 91, 99]

In [5]:
new_list.append(101)    #append is used to add.
print(new_list)

[21, 33, 45, 75, 91, 99, 101]

In [27]:
new_list.insert(1,108)
print(new_list)         #insert helps to add new element.

[21, 108, 107, 33, 45, 75, 91, 99, 101]

In [29]:
new_list.extend([200,201,202])
print(new_list)             #extend is used to extend files.

[21, 108, 107, 33, 45, 75, 91, 99, 101, 200, 201, 202, 200, 201, 202]

pop

In [30]:
removed_value=new_list.pop()
print(new_list)
print(removed_value)

[21, 108, 107, 33, 45, 75, 91, 99, 101, 200, 201, 202, 200, 201]
202

In [33]:
new_list.pop(10)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201, 201]

remove

In [34]:
new_list.remove(101)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 200, 201, 201]

del

In [35]:
del mylist[1]
print(mylist)

[1, 4, 6, 7, 9, 'hi', 'hello']

Indexing and silicing

In [36]:
new_list=[21,33,45,75,91,99]

Indexing

In [37]:
new_list[2]

45

In [38]:
new_list[-1]

99

Silicing

In [39]:
new_list[:3]

[21, 33, 45]

In [40]:
new_list[1:]

[33, 45, 75, 91, 99]

In [41]:
new_list[2:4]
new_list[1:5:2]    #silicing with a step of two
new_list[-3:]      # specifying positions from the last

[75, 91, 99]

In [42]:
new_list[::-1]     #reverse the list.

[99, 91, 75, 45, 33, 21]

Exercise

In [1]:
numbers=[]
strings=[]
names=["John","Eric","Jessica"]

#write your code.
second_name= None

#this code should write out the filled array ad the second 
# in the list(Eric)

print(numbers)
print(strings)
print("The second name on the name is %s"%second_name)

[]
[]
The second name on the name is None

In [4]:
name=input("Enter the names")
roll_no= int(input("Enter roll_no"))
name=[]
roll_no=[]
print(name)
print(roll_no)

[]
[]

Basic Operators  

 Arithemetic Operators

In [5]:
number=(1+2)*3/4.0-2
print(number)

0.25

In [6]:
remainder=11%3
print(remainder)

2

In [7]:
x=11/4
x

2.75

In [8]:
#using operators with strings.
squared= 7**2
cubed= 2**3

In [9]:
print(squared)
print(cubed)

49
8

Using Operators with Strings

In [10]:
x="helo"+"world"
print(x)

heloworld

In [15]:
lotsofthellos="hello" * 10
print(lotsofthellos)

hellohellohellohellohellohellohellohellohellohello

In [16]:
even_numbers=[2,4,6,8]
odd_numbers=[1,3,5,7]
all_numbers=odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

x=7
y=5

#1000; change this code
x_list=[]
y_list=[]
big_list=[]

print("x_list contains objects" % len )

In [20]:
x = 7
y = 5

#1000; change this code
x_list= []
y_list= []
big_list= []

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len (y_list))
print("big_list contains %d objects" % len(big_list))

#testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x)==10 and big_list.count(y)==10:
    print("Great!")

x_list contains 0 objects
y_list contains 0 objects
big_list contains 0 objects

Sting Formatting

In [21]:
name="John"
print("Hello,%s!"%name)

Hello,John!

In [23]:
score=7.886564567
name=input("Enter your name:")
print("Hello,%s! Welcome to TBC! You scored %.3f" %(name,score))

Hello,joe! Welcome to TBC! You scored 7.887

In [28]:
name= "John"
age= 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [29]:
mylist=[1,2,3]
print("A list: %s"% mylist)

A list: [1, 2, 3]

f-string literals and the format method.

In [32]:
name="Daniel"
college="The British college."
classtime=1100

#Older c-style formatting
print("Hello %s. welcome to %s. The class at %d hrs." %(name,college,classtime))

# Using Python's format method.
print("Hello{}. Welcome to {}. The class starts at {} hrs.".format(name,college,classtime))

#Using Python's f-string literal
print(f"Hello {name}.Welcome to {college}. The class starts at {classtime}hrs.")

Hello Daniel. welcome to The British college.. The class at 1100 hrs.
HelloDaniel. Welcome to The British college.. The class starts at 1100 hrs.
Hello Daniel.Welcome to The British college.. The class starts at 1100hrs.

Exercise

In [35]:
data=("John","Doe",53.44)
format_string="Hello %s %s. Your current balance is $%2f."%data
print(format_string)

Hello John Doe. Your current balance is $53.440000.

In [36]:
data=("JOhn","Doe",53.44)
format_string=f"hello{data[0]} {data[1]}. Your current balance is ${data[2]}."
print(format_string)

helloJOhn Doe. Your current balance is $53.44.

In [37]:
data=("John","Doe",53.44)
format_string="hello {} {}. Your current balance is $().".format(*data)
print(format_string)

hello John Doe. Your current balance is $().

In [41]:
print(len(astring))

12

Basic String Operations

In [39]:
astring="Hello world!"

In [43]:
str

str

In [45]:
astring="hello world!"
print(astring.index("o"))

4

In [46]:
astring="Hello world!"
print(astring.count("1"))

0

In [47]:
mystr="This NAME!"
mystr.swapcase()

'tHIS name!'

In [48]:
mystr.lower()

'this name!'

In [49]:
astring="Hello world!"
print(astring)
print(astring[3:7])

Hello world!
lo w

In [50]:
astring="Hello world!"
print(astring[-3::2])

l!

In [52]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [53]:
astring="Hello World!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [55]:
astring="Hello World!"
print(astring.startswith("Hello"))
print(astring.endswith ("asdfasfasdf"))

True
False

In [56]:
astring="Hello World!"
afewwords= astring.split(" ")
print(afewwords)

['Hello', 'World!']

Conditions

In [ ]:
if condition:
    do sth
elif condition2:
    do sth else
else:
    do sth

In [5]:
x = 2
print(x == 2) #prints out True
print(x == 3) #prints out False
print(x < 3)  #prints out True

True
False
True

In [6]:
if(x==2):
    print("Yay!")

Yay!

In [7]:
(1 >= 3) and (4>2)

False

Boolean Operators/ Logical Operators
The "and" and "or" boolean operators allow building boolean expressions,
for example:

In [8]:
name= "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick")

Your name is John, and you are also 23 years old.
Your name is either John or Rick

The "in" Operator
The "in" Operator could be used to check if a specified object exists within an iterable objects containers, such as list.

In [9]:
x="abc"
x in "abcdef"

True

In [2]:
name = "John"
if name in ["JOhn","Rick"]:
    print("Your name is either John or Rick.")

Python uses indentation to define block of codes.
Example of python "if" statement using block of codes.

In [ ]:
if <statement is="" true="">:
    <do something="">
    ....
    ....
elif <another statement="" is="" true="">: 
    <do something="" else="">
    ....
    ....
else:
    <do another="" thing="">
    ....
    ....
</do></do></another></do></statement>

For example

In [5]:
x= 4*0.5

if x == 2:
    print("x is equals to two!")
else:
    print("x is not equals to two.")

x is equals to two!

In [6]:
odd_list = [1,2,3,4,5]
even_list = []

if odd_list:
    print(odd_list)
if even_list:
    print(even_list)

[1, 2, 3, 4, 5]

Ternary Operator

In [7]:
number_type = 'odd' if x%2!=0 else 'even'
print(number_type)

even

In [8]:
number_type = 'odd' if x%2==0 else 'even'
print(number_type)

odd

The 'is' Operator
Unlike the double equals to operator"==", the is operator does not match the values of operators

In [9]:
x=[1,2,3]
y=[1,2,3]
print(x==y) #prints true
print(x is y) #prints false

True
False

In [10]:
num=[1,2,3,5,7]
num_copy = num.copy()

In [11]:
num_copy

[1, 2, 3, 5, 7]

In [12]:
num_copy.sort(reverse=True)
num_copy

[7, 5, 3, 2, 1]

In [13]:
num

[1, 2, 3, 5, 7]

In [14]:
num is num_copy

False

The not operator

In [16]:
print(not False) #prints not true
print(not False) == (False)

True
True

False

Exercise

In [5]:
number = 17
second_number = 0
first_array = [1,2,3]
second_array = [25,32]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0]==1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

Loops: There are two loops in python.

The for loop:

In [23]:
primes = [2,3,5,7,9]

for x in primes:
    print(x)

2
3
5
7
9

In [24]:
for x in range(len(primes)):
    print(primes[x])

2
3
5
7
9

In [25]:
#Prints out number 0,1,2,3,4

for x in range(5):
    print(x)

0
1
2
3
4

In [26]:
# prints out 3,5,7

for x in range(3,6):
    print(x)

3
4
5

In [27]:
#prints out 3,5,7

for x in range(3,8,2):
    print(x)

3
5
7

While loops

In [28]:
#Prints out 1,2,3,4

marks=[20,25,28,35,32]
count = 0
while count< len(marks):
    print(count)
    count += 1 #This is the same count = count + 1

0
1
2
3
4

In [29]:
# Prints out the actual marks

marks=[30,25,28,35,32]
count = 0
while True:
    if count>= len(marks):
        break
    print(marks[count])
    count+= 1

30
25
28
35
32

Break and continue statements:
break = "exit" and continue = "skip"

In [30]:

#prints out 0,1,2,3,4

count = 0
while True:
    if count >= 5:
        break
    print(count)
    count += 1

0
1
2
3
4

In [31]:
marks=[50,55,70,"F",33]
for i in marks:
    if i == "F":
        break
    print(i)

50
55
70

In [35]:
for x in range(1,11):
    if x % 2 == 0:
        print("Even")
        continue
    print(x)

1
Even
3
Even
5
Even
7
Even
9
Even

In [36]:
for x in range(1,12):
    if x % 2 != 0:
        print("Odd")
        continue
    print(x)

Odd
2
Odd
4
Odd
6
Odd
8
Odd
10
Odd

Else clause in loops

In [37]:
count=0
while(count<5):
    print(count)
    count +=1

else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [38]:
for i in range (1,10):
    print("input:",i)
    if(i%5==0):
        break
    print(i)
else:
    print("This is not printed because for loop is terminated because of break but not due to fail condition.")

input: 1
1
input: 2
2
input: 3
3
input: 4
4
input: 5