In [1]:
def my_function():
    print("Hello From My Function!")

y=my_function()

Hello From My Function!

In [2]:
def my_function_with_args(username,greetings):
    print("Hello, %s, From My function!, I wish you %s"%(username,greetings))

In [3]:
my_function_with_args("Sam","a good day!")

Hello, Sam, From My function!, I wish you a good day!

In [4]:
def sum_two_numbers(a,b):
    return a + b

In [5]:
y= sum_two_numbers(5,17)
print(y)

22

In [6]:
#Define our 3 functions:

def my_function():
    print("Hello From My Function!")

def my_funcyion_with_args(username, greetings):
    print("Hello, %s, From My Function!, I wish you %s"%(username, greeting))

def sum_two_numbers(a,b):
    return a + b

# print(a simple greeting)
my_function()

#prints-"Hello, John Doe,From My Function!, I wish you a great year!"

my_function_with_args("John Doe","a great year!")

#after this line x will hold the value 3!
x= sum_two_numbers(1,2)
print(x)

Hello From My Function!
Hello, John Doe, From My function!, I wish you a great year!
3

Exercise

In [33]:
# Modify this function to return a list of strings as defined above.

def list_benefits():
    """
    lst=[
        "More oraganized code",
        "More readable code",
        "Easier code reuse",
        "Allowing programmers to share and connect code together"

    ]
    """
    #return lst
    return [
        "More oraganized code",
        "More readable code",
        "Easier code reuse",
        "Allowing programmers to share and connect code together"

    ]

#Modify this function to concatenate to each benefit- "is a benefit of functions"

def build_sentence(info):
    #return info +" is a benefit of functions!"
        complete_sentence=info + "is a benefit of functions!"
        return complete_sentence 
    
def name_the_benefits_of_functions():
    listA = list_benefits()
    for x in listA:
        print(build_sentence(x))

name_the_benefits_of_functions()

More oraganized codeis a benefit of functions!
More readable codeis a benefit of functions!
Easier code reuseis a benefit of functions!
Allowing programmers to share and connect code togetheris a benefit of functions!

Functions Arguements

Default Arguments

In [8]:
def add_numbers(first_num, second_num=0):
    return first_num+second_num

In [24]:
print(add_numbers(1,4))

The first number is: 1
The second is: 4
5

In [11]:
print(add_numbers(7,4))

11

Keyword Arguements

In [13]:
def add_numbers(first_num=0, second_num=0):
    print(f"The first number is: {first_num}")
    print(f"The second is: {second_num}")
    return first_num+second_num

In [14]:
print(add_numbers(first_num=7,second_num=4))

The first number is: 7
The second is: 4
11

In [15]:
print(add_numbers(second_num=4))

The first number is: 0
The second is: 4
4

Variable Length Arguements

In [16]:
print("Hello")
print("Hello","World")
print("Hello","World","from","TBC")

Hello
Hello World
Hello World from TBC

In [20]:
def make_path(*names):
    result= ""
    for name in names:
        result += name + "/"
    return result

In [21]:
print(make_path("home","code","python","sorter"))

home/code/python/sorter/

Arbitrary Keyword Arguments

In [22]:
def show_details(title="Details",**info):
    print(title)
    for name in info:
        print(name,":",info[name])

In [23]:
show_details(title="warning")

warning

In [25]:
show_details(msg="file created",err="no issues")

Details
msg : file created
err : no issues

In [26]:
show_details(msg="file created",err="no issue")

Details
msg : file created
err : no issue

In [27]:
show_details(title="error",reason="disk full")

error
reason : disk full

Lambda Expressions, and Map Function:

In [34]:
def square(num):
    return num**2

In [35]:
square(3)

9

In [36]:
my_nums=[1,2,3,4,5]

for n in my_nums:
    print(square(n))

1
4
9
16
25

In [ ]:
my_nums=[1,2,3,4,5]

In [37]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [41]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [39]:
mynames=['John','Cindy','Sarah','kelly','Mice']

In [40]:
list(map(splicer,mynames))

['even', 'C', 'S', 'k', 'even']

Lambda expressions

In [42]:
def square(num):
    result=num**2
    return result

In [43]:
square(2)

4

In [6]:
def square(num): return num**2

In [45]:
square(2)

4

In [46]:
lambda num: num ** 2

In [7]:
# You wouldn't usually assign a name to a lambda function its just a demonstration,

square_1 = lambda num:num **2

In [2]:
square_1(3)

9

In [3]:
my_nums=[1,2,3,4,5]

In [ ]:
def square(num):
    return**2

In [ ]:
list(map(square,my_nums))

In [9]:
list(map(lambda x: x ** 2, my_nums))

[1, 4, 9, 16, 25]

Lambda expressions for grabbing the first character of string:

In [10]:
names = ["Swikrit Thapa","Arju Sharma","Mavira Kc","Nistha Acharya","Hingish Limbhu"]

In [11]:
lambda s: s[0]

In [12]:
list(map(lambda s : s[0],names))

['S', 'A', 'M', 'N', 'H']

Lambda expressions for getting last name:

In [13]:
list(map(lambda s : s.split()[-1],names))

['Thapa', 'Sharma', 'Kc', 'Acharya', 'Limbhu']

lambda expressions for reversing the order of a given name:

In [15]:
list(map(lambda s: " ".join(s.split()[::-1]),names))

['Thapa Swikrit',
 'Sharma Arju',
 'Kc Mavira',
 'Acharya Nistha',
 'Limbhu Hingish']

Lambda expressions for converting string to uppercase:

In [16]:
list(map(lambda s : s.upper(),names))

['SWIKRIT THAPA',
 'ARJU SHARMA',
 'MAVIRA KC',
 'NISTHA ACHARYA',
 'HINGISH LIMBHU']

Lambda expressions for reversing a string:

In [17]:
lambda s: s[::-1]

In [18]:
list(map(lambda s: s[::-1],names))

['apahT tirkiwS',
 'amrahS ujrA',
 'cK arivaM',
 'ayrahcA ahtsiN',
 'uhbmiL hsigniH']

In [19]:
ans=lambda x,y : x+y
ans(2,3)

5